body {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Seaweed Script', sans-serif;
}

h2 {
    margin: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: 'Seaweed Script', sans-serif;
}

a {
    color: rgb(151, 143, 237);
}

a:visited {
    color: rgb(171, 143, 237);
}

.container {
    width: 100vw;
    height: 95vh;
    overflow: scroll;
    background-color: #f2e9f7;
    position: relative;
}

header {
    background: #6441A5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, #2a0845, #6441A5);
    color: white;
    text-align: right;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    padding: 1rem 3rem;
    text-shadow: rgba(0,0,0,.5) 1px 0 5px;
}

main {
    padding: 1rem;
    padding-top: .2rem;
    display: flex;
}

.card {
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    background-color: white;
    padding: .5rem;
    margin: .3rem;
    border: 1px lightgrey solid;
    overflow-y: scroll;
}

.pie {
    display: flex;
    flex: 2;
}

.details {
    background: #6441A5;
    background: -webkit-linear-gradient(to top, #2a0845, #6441A5);
    background: linear-gradient(to top, #2a0845, #6441A5);
    color: white;
    padding: 1rem;
    flex: 1; 
} 

svg {
    background-color: white;
    border-radius: 5px; 
    margin: 0 auto; 
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: .5px;
    fill: none;
    shape-rendering: geometricPrecision;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-style: oblique;
    font-size: 1rem; 
}

nav {
    margin: 1rem;
}

text {
    font-size: 0.6rem;
}

button {
    background-color: #6441A5;
    color: white;
    font-size: .8rem;
    font-family: 'Lato', sans-serif;
    padding: 0.3rem;
    margin: .2rem;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

footer {
    background-color: black;
    color: white;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

@media (max-width: 650px) {
    main {
      flex-direction: column;
    }
    .container {
        height: initial;
    }
    ul {
        text-align: center;
    }
    footer {
        flex-direction: column;
        height: 8vh;
    }
  }

